.container-page {
	padding-top:40px;
}

.pagination {
	@include flexbox;
	@include justify-content(space-between);

	&--flex-end {
		@include flexbox;
		@include justify-content(flex-end);
	}
}

%pagination__link {
	@include post;
	padding-top: 1vw;
	padding-bottom: 1vw;

}

.pagination__link--next {
	@extend %pagination__link;
}

.pagination__link--prev {
	@extend %pagination__link;
}
