body {
    color: #24303c;
    background-color: #a4deda;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
}

@mixin post {
	padding-top:2.5vw;
	padding-right: 4vw;
	padding-bottom: 2vw;
	padding-left: 2.5vw;
	margin-bottom: 30px;
	background-color: rgba(252,252,245,0.8);
	box-shadow: -0.8vw 0.8vw 0 0 rgba(62,171,163,0.7);
	@content;
}
